*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
body{
    background-color: rgba(17, 17, 17, 1);
}
.btn{
    padding: 8px 28px;
    background-color:rgba(230, 83, 60, 1) ;
    border-radius:39px ;
    color:rgba(255, 255, 255, 1)  ;
}
.light-btn{
     padding: 8px 28px;
   border:1px solid rgba(255, 255, 255, 1) ;
    border-radius:39px ;
    color:#ffffff;
    background-color: transparent;    
}
.orange{
max-width:220px; 
}

.section-title {
    font-size:5rem;
    color: #ffffff;
}
.section-description ,.team-description{
  margin: 28px 0;
  color:rgba(255, 255, 255, 0.5) ;  
}

nav{
  
    margin:45px auto;
    max-width: 1200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.logo{
  color: rgba(230, 83, 60, 1); 
  font-size: 2rem;
  font-weight: 800; 
  font-style: italic;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 47px;
    border:1px solid  rgba(255, 255, 255, 0.1);
    border-radius:39px;
    padding-right:8px;

}
.nav-list li{
    list-style: none;
}
.nav-list li a{
   font-size: 1rem; 
   color:rgba(255, 255, 255, 1) ;
   text-decoration: none;
}
.nav-icon{
    color:rgba(255, 255, 255, 1)  ;
    /* display: inline; */
    margin-right: 20px;
    display: none;
}
#hero-section{
display: flex;
max-width: 1200px;
padding: 10px;
margin: 0 auto;   
}

.left-section{
  width: 50%;
    
}

.right-section{
   padding: ;
     width: 50%;
     display: flex;
     justify-content: flex-end;
     position: relative;
     
}
.hero-button{
    display: flex;
    gap:15px;
}
.right-section img{
    width: 60%;
}
.tootl-tip{
    background-color: rgba(128, 128, 128, 0.179);
    position: absolute;
    right: 0;
    padding:20px ;
    max-width: 193px;
    max-height: 98px;
    border-radius:12px;
    top: 20%;
    right: -10%;

}
.tootl-tip h2 , .tootl-tip p{
    color: #ffffff;
}

.tootl-tip-2{
  background-color:rgba(128, 128, 128, 0.179);
    position: absolute;
    padding:20px;
  border-radius:12px;
    top: 70%;
    left: 15%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    gap: 10px;
}
.tootl-tip-2 h2,p{
     color: #ffffff; 
}
.tootle-circle{
   width:50px  ;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;   
border-radius: 50%;
    background-color: rgba(230, 83, 60, 1);
}

.tootle-circle i{
    color: #ffffff;
}
/* habits-section */

#habits-section{
    margin: 100px auto;
    max-width:1200px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habits-contant{
    max-width: 670px;
    padding: 0 10px;
    text-align: center;
}
.habit-title , .access-title , .team-title{
  font-weight: 900;
  font-size: 3rem;  
  color:rgba(255, 255, 255, 1) ; 
}

.fitness-section{
max-width:1200px ;
display: flex;
gap: 50px;
flex-direction: row;
   
}
.fitness{
  max-width: 232px; 
  padding: 25px;
  text-align: center; 
}
.fitness-img{
   width:180px;
    height: 180px;
    border-radius:100px;
}
.fitness-img img{
    width:100%;
    height: 100%;
    border-radius:100px;
}
.fitness-title{
  color: rgba(255, 255, 255, 1) ;
  font-size: 1.2rem;  
  margin-top:1.2rem;
  margin-bottom:0.5rem ;
}
.fitness-discription {
  color:rgba(255, 255, 255, 0.5) ;  
}

/* fitness-access */
#fitness-access{
    margin: 0 auto;
    padding:30px ;
    max-width:1200px ;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:165px ;
    background-color:rgba(34, 34, 34, 1) ;
}
.access-contant{
    max-width: 500px;
     
}
.access-img{
    max-width: 500px;
    border-radius: 18px;
}
.access-img img{
    width: 100%;
     border-radius: 18px;
}
/* training-section */
#training-section{
  
   margin:80px auto; 
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center; 
}
.training-container{
   
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(2,1fr);
}
.training-img{
    position: relative;
}

.training-img img{
width: 100%;
height:100%;
mix-blend-mode:multiply;
}
.img-1{
    background-color:#99e4d6;
   
}
.img-1 >h4{
    position: absolute;
    left: 10%;
    top:5%;
    color:black;
    font-size:20px;
      z-index: 1;
       font-weight: 500;
}
.img-2{
    background-color:  #e87575;
  
}
.img-2 >h4{
    position: absolute;
    left: 10%;
    top:10%;
    color:white;
     font-weight: 500;
     z-index: 1;
    font-size:20px;
    
}
.img-3{
  background-color: #CCCCCC;  
}
.img-3 >h4{
    position: absolute;
    left: 10%;
    bottom:6%;
    color:white;
    z-index: 1;
    font-size:20px;
    
}


.img-4{
    background-color: #a1999998;
}
.img-4 >h4{
    position: absolute;
    right: 10%;
    top:10%;
    color:white;
    font-weight: 500;
     z-index: 1;
     font-size:20px;
    
}
.img-5{
background-color: #42FF00;
}
.img-5 >h4{
    position: absolute;
    left: 10%;
    bottom:8%;
    color:white;
     font-weight: 500;
    z-index: 1;
    font-size:20px;
    
}
.img-6{
background-color: #6e8fe3;
}
.img-6 >h4{
    position: absolute;
    left: 10%;
    bottom:10%;
    color:white;
     z-index: 1;
    font-size:20px;
     font-weight: 500;
    
}
.img-2 ,.img-4{
    grid-column:span 2;
}

/* team */
#team{
  margin:80px auto; 
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.team-contant{
    max-width: 670px;
    text-align: center;
}
.traner{
  max-width: 1200px;
  padding:20px ;
  display: grid; 
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  background-color:rgba(34, 34, 34, 1) ;
     border-radius: 18px;

}
.traner-img{
    border-radius: 18px;
    position: relative;
   
}
.traner-img img{
    width: 100%;
    height: 100%;
     border-radius: 18px;
}
.traner-img h4{
  position:absolute; 
  color:rgba(255, 255, 255, 1) ;
  font-size:20px;
  font-weight: 900;
  bottom:10%;
  left: 10%;
}
.traner-img p{
  position:absolute; 
  color:rgba(255, 255, 255, 1) ;
  font-size:1rem;
  font-weight: 500;
  bottom:3%;
  left: 12%;
}

/* footer */
footer{
     background-color:rgba(34, 34, 34, 1) ;
     padding: 65px;
    
}
.footer-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:100px ;
    
}
.footer-contant{
    max-width:550px;
}

.Contact{
    max-width: 550px;
    display: flex;
    justify-content: flex-end;
   flex-direction: row;
   gap: 100px;
   
}

.links h3{
color:rgba(255, 255, 255, 1) ;
font-weight: 700;
font-size: 2rem;
margin-bottom: 30px;
}
.links li{
list-style: none;
margin-bottom:20px ;
}
.links li a{
  color:rgba(255, 255, 255, 0.5) ;   
  font:1.5px;
  text-decoration: none;
}
.copyright{
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
}

/* responsive style start */
@media screen and (max-width:576px){
 .section-title {
    font-size:3rem;
}  
nav{
margin: 30px 27px;} 
.nav-list{
    display: none;
}
.nav-icon{
 display:inline;
}
#hero-section{
flex-direction: column;  
gap:50px ;
padding:0 27px;
}
.left-section ,.right-section{
  width: 100%;
  justify-content: center;
  align-items: center;
    
}
.right-section img{
    width:50%;
}
.right-section img{
    width: 60%;
}
.tootl-tip{
    padding:10px ;
    top: 0%;
    right:10%;

}
.tootl-tip p , .tootl-tip-2 p{
    font-size:10px;
}
.tootl-tip-2{
    padding:10px;
    top: 50%;
    left:0%;
    gap:5px;
}
#fitness-access ,#team , #training-section{
    margin:0 27px;
}
.fitness-section , #fitness-access ,.footer-section ,.Contact{
gap: 40px;
flex-direction:column;}

.habit-title , .access-title , .team-title{
  font-size:2rem;  
 
}  
.traner{
padding:20px ;
  grid-template-columns: repeat(1,1fr);
} 
.training-container{
   grid-template-columns:repeat(1,1fr) ;
    grid-template-rows: repeat(1,1fr);
}
.img-2 ,.img-4{
    grid-column:span 1;
}
footer{
    margin-top:100px ;
} 
}